In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Visit the Mars Facts site
url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

html = browser.html
html_soup = soup(html, 'html.parser')

In [3]:
# find the table
table = html_soup.find('table', class_='table-striped')
table

<table class="table table-striped">
<tbody>
<tr>
<th scope="row">Equatorial Diameter:</th>
<td>6,792 km</td>
</tr>
<tr>
<th scope="row">Polar Diameter:</th>
<td>6,752 km</td>
</tr>
<tr>
<th scope="row">Mass:</th>
<td>	6.39 × 10^23 kg (0.11 Earths)</td>
</tr>
<tr>
<th scope="row">Moons:</th>
<td>	2 ( <span class="red">Phobos </span> &amp; <span class="red"> Deimos </span>)</td>
</tr>
<tr>
<th scope="row">Orbit Distance:</th>
<td>	227,943,824 km (1.38 AU)</td>
</tr>
<tr>
<th scope="row">Orbit Period:</th>
<td>	687 days (1.9 years)</td>
</tr>
<tr>
<th scope="row">Surface Temperature:</th>
<td>	-87 to -5 °C</td>
</tr>
<tr>
<th scope="row">First Record:</th>
<td>	2nd millennium BC</td>
</tr>
<tr>
<th scope="row">Recorded By:</th>
<td>	Egyptian astronomers</td>
</tr>
</tbody>
</table>

In [6]:
#  store the table data in a Python data structure. 
mars_facts = {}
rows = table.find_all('tr')
for row in rows:
    row_heading = row.find('th').text
    row_data = row.find('td').text.strip()
    mars_facts[row_heading] = row_data
mars_facts

{'Equatorial Diameter:': '6,792 km',
 'Polar Diameter:': '6,752 km',
 'Mass:': '6.39 × 10^23 kg (0.11 Earths)',
 'Moons:': '2 ( Phobos  &  Deimos )',
 'Orbit Distance:': '227,943,824 km (1.38 AU)',
 'Orbit Period:': '687 days (1.9 years)',
 'Surface Temperature:': '-87 to -5 °C',
 'First Record:': '2nd millennium BC',
 'Recorded By:': 'Egyptian astronomers'}

In [7]:
# quit browser session
browser.quit()